:root {
  /* use the windows font Segoe UI */
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Segoe UI", sans-serif; */
  font-family: "JetBrains Mono", monospace;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 0.75vw; /* 15px */
  line-height: 1, 28vw;
  font-weight: 500;

  color: #0f0f0f;
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;

  overflow: hidden;
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
}
#not-titlebar {
  padding-top: 30px;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #5d3791;
}
button:active {
  border-color: #5d3791;
  background-color: #e8e8e8;
}

#greet-input {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 2px solid #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #dadada;
    background-color: #202020;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }

  ::-webkit-scrollbar-track {
    background: #2f2f2f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 2px solid #2f2f2f;
  }
  #header {
    background-color: #1d1d1d;
  }
  .titlebar {
    background: #181818;
  }
  .titlebar-button:hover {
    background: #292929;
  }

  .pipeline {
    box-shadow: inset 0 0 0 0.17vw rgb(26, 25, 25);
  }
}
@media (prefers-color-scheme: light) {
  #header {
    background-color: #dbdbdb;
  }
  .titlebar {
    background-color: #d6d6d6;
  }

  .pipeline {
    box-shadow: inset 0 0 0 0.17vw rgb(207, 207, 207);
  }
}

#header {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  /* height: 6vw; */
}
#content-div {
  height: 90%;
  margin: 0.5%;
}
#filepath-div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#load {
  width: 40%;
  white-space: nowrap;
}

#representation-buttons {
  display: flex;
  justify-content: center;
  margin: 1vh;
}
#clock-p {
  width: 30%;
  display: block;
  unicode-bidi: isolate;
}
.autoclock-button {
  width: 25%;
}

#proc-div {
  width: 100%;
}

#pipeline-wrapper {
  height: 51%;
  display: flex;
}
.pipeline-title {
  text-align: center;
}
h3 {
  margin-top: 0.7vh;
}

.pipeline {
  width: 20%;
  margin: 0;
  padding: 0.5vh;
  overflow: auto;
  border-radius: 8px; /* Added to make the box-shadow have rounded corners */
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

.pipeline td,
.pipeline th {
  text-align: right;
}

#mem-title-wrapper {
  display: flex;
  height: 7%;
}
#reg-file-title,
#rom-title,
#ram-title {
  width: 42%;
  text-align: center;
}

#rom-div,
#ram-div,
#register-div {
  white-space: nowrap; /* verhindert Zeilenumbruch innerhalb von Speicherwerten */

  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 33%;
  display: block;
  text-align: center;
  height: 100%;
}

#mem-wrapper {
  height: 35%;
  padding: 0.5vh;
  display: flex;
}

.dark {
  background-color: #0f0f0f;
  color: #f6f6f6;
  width: 100%;
}

.light {
  background-color: #f6f6f6;
  color: #0f0f0f;
  width: 100%;
}

#highlighted {
  background-color: #5d3791;
}
.mem-table {
  width: 100%;
  will-change: transform;
}

#filepath-div {
  display: inline-block;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

#autoclock-interval {
  width: 7vw;
  margin-left: 10px;
}
/* 
    Titlebar
    */
.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}
.titlebar-button:hover {
  background: #b4b4b4;
}

.titlebar img {
  height: 22px;
  width: 22px;
  margin: 5px;
}

#titlebar-close:hover {
  background: #d41c12;
}
